// Importar archivos base
@import 'base/reset';
@import 'base/typography';
@import 'base/variables';

// Importar archivos de componentes
@import 'components/header';
@import 'components/footer';
@import 'components/buttons';

// Importar archivos de diseño
@import 'layout/grid';
@import 'layout/index';
@import 'layout/games';
        
        
        
        p
        {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 32px;
            margin-left:30px;
            margin-right:30px;
            margin-top:auto;
        }
        .center
        {
            height: 10%;
            display: flex;
            margin-left: auto;
            margin-right: auto;
        }
        
        .indexHeader
        {
            padding-top: 100px;
        }
        a
        {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-style: normal;
            text-decoration: none;
            color:#f1f1f1;
        }
        .headerContainer
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align:center;
            padding-top:10px;
        }
        nav 
        {
            display: flex;
            align-items: center;
        }
        /*#indexHeader 
        {
            transform: rotate(-90deg);
            white-space: nowrap;
            transform-origin: left top;
            margin-left:-180px;
            margin-top:180px;
            padding-top: 190px;
        }
        */
        h2
        {
            background:#7ED957;
            color:#f1f1f1;
        }
        .textInLine 
        {
            padding-bottom:100vh;
            background:#FD7E3E;
            color:#f1f1f1;
            font-size: 28px; 
            width: 40px;
        }
        .projectsTextInLine
        {
            transform: rotate(-90deg);
            transform-origin: left top;
            text-align: left;
            margin-top:180px;
            margin-left:10px;
        }
        .aboutTextInLine
        {
            transform: rotate(-90deg);
            transform-origin: left top;
            text-align: left;
            margin-top:180px;
            margin-left:10px;
        }
        .contactTextInLine
        {
            transform: rotate(-90deg);
            transform-origin: left top;
            text-align: left;
            margin-top:180px;
            margin-left:10px;
        }
        .Social img 
        {
            min-width: 20px; /* Adjust the minimum width as needed */
            min-height: 20px; /* Adjust the minimum height as needed */
            max-width: 100%;
            flex-shrink: 0;
            margin: 0 5px; /* Adjust the margin as needed */
        }
        .projectsIndex
        {
            display:flex;
            flex-direction:row;
            
        }
        h3
        {
            padding-left:30px;
            color:black;
            font-family: Arial, Helvetica, sans-serif;
        }
        .textGame1
        {
            margin-top:35px;
            background-color:#7ED957;
            height:275px;
        }
        .box
        {
            height:200px;
            background:white;
            display:flex;
            align-items:center;
            justify-content:center;
        }
       
        .box.header1, .box.header2, .box.header3
        {
            background:#FD7E3E;
            margin-right:30px;
            margin-left:30px;
            height: 140px;
            display:flex;
        }
        .box.header3
        {
            padding-left: 90px;
        }
        li a:visited 
        {
            color: inherit;
            text-decoration: none; /* O cualquier otra decoración que desees */
        }
        #game1
        {
            width: 30%;
            min-height:600px;
            margin:auto;
            border-radius: 20px; /* Esto hace que el borde se vuelva circular */
            border: 4px solid #7ED957;
            min-width: 400px;
            position: relative;
            transition: filter 0.3s ease;
            display: block; /* Make the image a block-level element */
            height: auto; /* Preserve the aspect ratio of the image */
        }
        .image-container 
        {
            position: relative;
            display: inline-block; /* Ensure that the container only takes up necessary space */
            margin: 20px; /* Adjust spacing between image containers */
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center; /* To center text within the container */
        }
        
        .image-container img {
            width: 100%;
            border-radius: 20px; /* Esto hace que el borde se vuelva circular */
            border: 4px solid #7ED957;
            transition: filter 0.3s ease;
        }
        
        .image-container:hover img 
        {
            filter: brightness(50%) blur(2px); /* Adjust brightness to make the image darker */
        }
        
        .image-container:hover .hover-text 
        {
            opacity: 0.85; /* Show the text when the container is hovered over */
        }
        .image-container:hover #verMasButton 
        {
            opacity: 0.85; /* Show the text when the container is hovered over */
        }
        
        .hover-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white; /* Text color */
            font-size: 18px; /* Text font size */
            opacity: 0; /* Initially hide the text */
            transition: opacity 0.3s ease; /* Smooth transition for opacity */
            font-family: Arial, Helvetica, sans-serif;
            width:70%;
        }
        #game2
        {
            width: 30%;
            min-height:600px;
            margin:auto;
            border-radius: 20px; /* Esto hace que el borde se vuelva circular */
            border: 4px solid #7ED957;
            min-width: 400px;
            position: relative;
            transition: filter 0.3s ease;
            display: block; /* Make the image a block-level element */
            height: auto; /* Preserve the aspect ratio of the image */
        }
        #game3
        {
            width: 30%;
            min-height:600px;
            margin:auto;
            border-radius: 20px; /* Esto hace que el borde se vuelva circular */
            border: 4px solid #7ED957;
            min-width: 400px;
            position: relative;
            transition: filter 0.3s ease;
            display: block; /* Make the image a block-level element */
            height: auto; /* Preserve the aspect ratio of the image */
        }
        #game2:hover 
        {
            filter: brightness(35%)blur(2px); /* Adjust brightness to make the image darker */
        }
        #game2:hover::before 
        {
            content: ""; /* Create a pseudo-element to act as the overlay */
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #4B3F3B; /* Black color with 50% opacity */
            transition: background-color 0.3s ease;
        }
        
        .columnText
        {
            transform: rotate(-90deg);
            padding-top: 35px;
            color:white;
            font-size:28px;
        }
        .combinedContainer
        {
            padding-top: 145px;
            display: flex;
            flex-direction:row;
            background:white;
            grid-column: 3 / span 1; /* El contenedor combinado ocupa la tercera columna */
            grid-row: 1 / span 8; /* El contenedor combinado ocupa 5 filas */
            justify-content: center;
            align-items:center;
            margin: auto; 
            margin-top:0;
            
        }
        .combinedContainer1
        {
            display: flex;
            flex-direction:column;
            grid-column: 3 / span 1; /* El contenedor combinado ocupa la tercera columna */
            grid-row: 1 / span 22; /* El contenedor combinado ocupa 5 filas */
            align-items: center;
            justify-content:center;
            margin-top:1260px;
        }
        .seccion1
        {
            display: flex;
            flex-direction:column;
            align-items: center;
            justify-content:center;
            margin-top: -100px;
        }
        #ContactColumnText
        {
            margin-top:80px;
        }

        .box.b1, .box.b4, .box.b7, .box.b10, .box.b13, .box.b16, .box.b19, .box.b22, .box.b25,.box.b28,.box.b31,.box.b34, .box.b40, .box.b43,.box.b46,.box.b37, .box.b49, .box.b52
        {
            background: #7ED957;
        }
        #robofrogIndexLogo2
        {
            display:flex;
            width:500px;
            z-index:2;
            margin-right: 800px;
            margin-top:-240px;
        }
     
        #robofrogIndexLogo2 {
            transition: transform 0.3s ease;
        }
        #robofrogIndexLogo2:hover {
            transform: rotate(360deg);
        }
        
        .textAboutPage
        {
            display: flex;
            flex-direction: column;
            position:relative;
            background:#7ED957;
            color:white;
            border-radius: 20px;
            text-align:center;
            display:flex;
            padding:20px;
            z-index:1;
            margin-top:-380px;
            margin-left:400px;
        }
       
        .textAboutPage p
        {
            font-size:22px;
            padding-top:20px;
            padding-left:80px; 
            display:flex;     
        }
        .firstBox
        {
            margin-left:auto;
            position:relative;
            background:#7ED957;
        }
        .diegoContainer
        {
            position: relative;
            display: inline-block;
        }
        
      
        .presentation
        {
            display: flex;
            flex-direction:row;
            justify-content: space around;
            align-items: left;
            margin-left: 640px; /* Ajusta el valor según sea necesario */
            margin-top:-40px;
            background-color: rgba(0, 0, 0, 0);
            margin-left:580px;
        }
        .secondBox
        {
            margin-left:auto;
            position:relative;
        }
        .joshuaContainer
        {
            position: relative;
            display: inline-block;
        }
        #imageDiego
        {
            height:300px;
            z-index:0;
        }
        #imageJoshua
        {
            height:300px;
            margin-left:-90px;
            z-index:0;
        }
        #imageFranco
        {
            height:300px;
            margin-left:-90px;
            z-index:0;
        }

         /*---------------------------*/
        .contactMail
        {
            background:#FD7E3e;
            color:white;
            font-size:32px;
            margin-top:-10px;
            width: 100%;
            height:500px;
            display:flex;
            flex-direction: row;
            align-items:center;
            text-align: center;
            border-radius:80px;
            justify-content: space-between;
        }
        .contactInformation
        {
            width:40%;
            margin-left:40px;
        }
        .contactInformation p
        {
            font-size:20px;
        }
        #robofrogIndexLogo3
        {
            height:240px;
            margin-bottom:20px;
        }
        .contactText
        {
            width:55%;
            margin-right:80px;
            font-family: Arial, Helvetica, sans-serif;
            font-size:20px;
        }
        .input-with-label {
            position: relative;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            align-items: center; /* Center items horizontally */
        }
        
        .input-with-label label {
            pointer-events: none; /* Make sure label doesn't interfere with input */
            color: #f1f1f1;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
        }
        
        .input-with-label input,
        .input-with-label textarea {
            width: 80%; /* Make input full width */
            height: 40px; /* Set common height for inputs */
        }
        .input-with-label textarea#text {
            height: 180px; /* Set the desired height for the text area */
            resize: vertical; /* Allow vertical resizing */
        }
        .input-with-label input[type="file"] {
            height: auto; /* Adjust height for file input */
        }
        .contactText button 
        {
            background-color: transparent; /* Color de fondo */
            color: white; /* Color del texto */
            border: 2px solid white; 
            border-radius: 3px 15px; /* Redondea las esquinas */
            cursor: pointer;
            padding:0px 40px;
            font-size:22px;
        }
        .presentation div:hover button {
            opacity: 1;
        }
        
        
        .centeredButton1
        {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top:20px;
            margin-left:-45px;
            opacity: 0;
            transition: opacity 0.3s ease;
            background-color: transparent; /* Color de fondo */
            color: white; /* Color del texto */
            border: 2px solid white; 
            border-radius: 3px 15px; /* Redondea las esquinas */
            cursor: pointer;
            padding: 5px 10px;
            font-size:16px;
        }
        .centeredButton2 
        {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top:20px;
            margin-left:-80px;
            opacity: 0;
            opacity: 0;
            transition: opacity 0.3s ease;
            background-color: transparent; /* Color de fondo */
            color: white; /* Color del texto */
            border: 2px solid white; 
            border-radius: 3px 15px; /* Redondea las esquinas */
            cursor: pointer;
            padding: 5px 10px;
            font-size:16px;
        }
        .centeredButton3 
        {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top:20px;
            margin-left:-80px;
            opacity: 0;
            transition: opacity 0.3s ease; /* Add transition effect */
            background-color: transparent; /* Color de fondo */
            color: white; /* Color del texto */
            border: 2px solid white; 
            border-radius: 3px 15px; /* Redondea las esquinas */
            cursor: pointer;
            padding: 5px 10px;
        }
        .imageContainer:hover .centeredButton {
            opacity: 1; /* Change opacity to 1 when hovering over the image container */
        }
        /* Apply the animation to the li elements */
        .box.header3 san ul li {
            list-style: none;
        }
        
        .box.header3 san ul li:hover {
            animation: shake 0.5s ease;
        }
        /* Apply the fade-in and move-up animation to the image */
        #robofrogIndexLogo {
            opacity: 0; /* Initially set opacity to 0 */
            animation: fadeInAndMoveUp 4s ease forwards; /* Apply the fade-in and move-up animation */
        }
        .contactMail #robofrogIndexLogo3 {
            transition: transform 0.3s ease; /* Transición suave de la propiedad transform */
        }
        
        .contactMail:hover #robofrogIndexLogo3 {
            transform: scale(1.1); /* Escala la imagen al 110% cuando se hace hover sobre contactMail */
        }
        
        .contactMail:not(:hover) #robofrogIndexLogo3 {
            transform: scale(1); /* Devuelve la imagen a su tamaño original cuando no hay hover sobre contactMail */
        }
        /* Apply styles when the button is pressed */
        button:active 
        {
            transform: scale(1.1); /* Increase size by 10% */
            transition: transform 0.3s ease; /* Smooth transition */
        }
        /* Apply animation after a delay when button is not pressed */
        button:not(:active)::after 
        {
            content: ""; /* Required for pseudo-element */
            animation: scaleBack 0.3s 1s forwards; /* Run animation after 1 second delay */
            display: block; /* Display as block element */
        }
        .social img:active {
            transform: scale(1.3); /* Increase size by 10% */
            transition: transform 0.3s ease; /* Smooth transition */
        }
        .buttonYoutube
        {
            height:140px;
            opacity: 0; /* Initially hidden */
            transform: translateY(20px); /* Initially moved down */
            transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
        }
        .fadeAndMoveUp {
            animation: fadeInAndMoveUp  1s forwards; /* Apply animation */
        }
        .fadeAndMoveRight {
            animation: fadeAndMoveRight 1s forwards; /* Apply animation */
        }
        .fadeAndMoveLeft {
            animation: fadeAndMoveLeft 1s forwards; /* Apply animation */
        }
        .imageContainer {
            position: relative;
            display: inline-block; /* Ensure that the container only takes up necessary space */
            margin: 20px; /* Adjust spacing between image containers */
            text-align: center; /* To center text within the container */
        }
        
        /* General styling for centered buttons */
        .centeredButton {
            position: absolute;
            bottom: 0; /* Position at the bottom of the container */
            left: 50%; /* Horizontally center the button */
            transform: translateX(-50%); /* Adjust to perfectly center horizontally */
            opacity: 0;
            transition: opacity 0.3s ease; /* Add transition effect */
            background-color: transparent; /* Background color */
            color: white; /* Text color */
            border: 2px solid white; /* Border */
            border-radius: 3px 15px; /* Rounded corners */
            cursor: pointer; /* Change cursor on hover */
            padding: 5px 10px; /* Padding */
            font-size: 16px; /* Font size */
        }
        
        /* Styling for specific buttons */
        .centeredButton1 {
            margin-left: -45px; /* Adjust left margin for button 1 */
        }
        
        .centeredButton2 {
            margin-left: -80px; /* Adjust left margin for button 2 */
        }
        @keyframes scaleBack {
            0% {
                transform: scale(1.1); /* Start at increased size */
            }
            100% {
                transform: scale(1); /* Revert back to original size */
            }
        }   
        @keyframes shake 
        {
            0% { transform: translateX(0); }
            25% { transform: translateX(-5px); }
            50% { transform: translateX(5px); }
            75% { transform: translateX(-5px); }
            100% { transform: translateX(0); }
        }
        @keyframes fadeInAndMoveUp 
        {
            0% {
                opacity: 0; /* Start with opacity 0 */
                transform: translateY(100px); /* Start 100px below its normal position */
            }
            100% {
                opacity: 1; /* End with opacity 1 */
                transform: translateY(0); /* Move up to its normal position */
            }
        }
        @keyframes fadeAndMoveRight
        {
            0% {
                opacity: 0;
                transform: translateX(-20px); /* Move from left */
            }
            100% {
                opacity: 1;
                transform: translateX(0); /* Move to original position */
            }
        }
        @keyframes fadeAndMoveLeft
        {
            0% {
                opacity: 0;
                transform: translateX(20px); /* Move from left */
            }
            100% {
                opacity: 1;
                transform: translateX(0); /* Move to original position */
            }
        }
        @media (max-width: 1141px) 
        {
            #esloganEmpresa 
            {
              display: none;
            }
            .gridHeader 
            {
                display: flex;
                flex-direction: column;
            }
            .box.header2
            {
                background:none;
                padding-left: 0px;
                margin-top:-140px;
            }
            .box.header3
            {
                margin-right:30px;
                margin-left:30px;
                height: 60px;
                padding-left: 0px;
            }

            ul
            {
                grid-column: span 3;
            }
            #roboFrogLogo 
            {
                grid-column: span 3;
                max-width: none; /* Elimina la restricción de tamaño máximo al hacer wrap */
            }
            .indexPage
            {
                flex-direction:column-reverse;
                align-items: center;
                justify-content: center;
                text-align:center;
            }
            .textIndexPage
            {
                padding-bottom:30px;
                padding-top:20px;
            }
            .grid
            {
                display:grid;
                grid-template-columns: 0px 0% 100% 0%;
                grid-template-rows: repeat(6, auto);
            }
            .box.b1, .box.b4, .box.b7, .box.b10, .box.b13, .box.b16, .box.b19, .box.b22, .box.b25,.box.b28,.box.b31,.box.b34, .box.b40, .box.b43,.box.b46,.box.b37, .box.b49, .box.b52
            {
                background: white;
            }
            .combinedContainer
            {
                padding-top: 60px;
                flex-direction:column;
                justify-content: center;
                text-align:center;
            }
            .combinedContainer1
            {
                margin-top:1200px;
            }
            #game3Container
            {
                display:none;
            }
            .seccion1
            {
                margin-top: 400px;
            }
            .textAboutPage p
            {
                font-size:20px;   
            }
            #game1
            {
            min-width: 300px;
            }
            #game2
            {
            min-width: 300px;
            }
            .contactMail
            {
                flex-direction: column;
            }
            #robofrogIndexLogo2
            {
                width:500px;
                z-index:2;
                margin-right: 0px;
                margin-top:-200px;
            }
            .textAboutPage
            {
                margin-top:40px;
                margin-left:0px;
            }
            .textAboutPage p
            {
                padding-bottom:0px; 
                padding-left:0px;     
            }
            .presentation
            {
                margin-left: 0px; /* Ajusta el valor según sea necesario */
            }
            #imageDiego
            {
                display:none;
            }
            #imageJoshua
            {
                display:none;
            }
            #imageFranco
            {
                display:none;
            }
            .contactMail
            {
                font-size:32px;
                height:1040px;
                margin-top:100px;
                flex-direction: column;
                margin-bottom:60px;
                width: 90%;
            }
            .contactInformation
            {
                width:90%;
                margin-top:100px;
                margin-left:0px;
            }
            .contactText
            {
                width:80%;
                margin-right:0px;
                margin-bottom:80px;
            }
            .textIndexPageGame1 
            {
                padding: 20px 40px;
                margin:40px;
            }
            .textOurStory
            {
                max-width:100%;
                margin:0px;
            }
            .textOurStory p
            {
                margin-bottom:10px;
            } 
            #ourStoryButton
            {
                margin:5px 20px;
                margin-top: 15px;
            }
            .indexPageGame1 
            {
                justify-content: center; /* Align items to the left */
            }
            .indexPageGame2 
            {
                justify-content: center; /* Align items to the left */
            }
            .hover-text 
            {
                display:none;
            }
            #verMasButton 
            {
                opacity: 1; /* Initially hidden */
            }
        }

    