.buttonImageContainer {
    position: absolute;
    top: 50%; /* Position at the vertical center */
    left: 50%; /* Position at the horizontal center */
    transform: translate(-50%, -50%); /* Center the element */
}

.buttonImageContainer img {
    cursor: pointer;
    /* Add styles for image size, border, etc. */
}
.buttonImageContainer img.buttonYoutube:active {
    transform: scale(1.1); /* Increase size by 10% */
    transition: transform 0.3s ease; /* Smooth transition */
}

/* Apply animation after a delay when button is not pressed */
.buttonImageContainer img.buttonYoutube:not(:active)::after {
    content: ""; /* Required for pseudo-element */
    animation: scaleBack 0.3s 1s forwards; /* Run animation after 1 second delay */
    display: block; /* Display as block element */
}